let mapleader = " "

""" Idea specific settings ------------------
set ideajoin

set number relativenumber
set clipboard+=unnamed
set hlsearch
set scrolloff=10
set showmode=true
set showcmd
set visualbell
set ignorecase
set ideawrite
set commentary


""" Navigation --------------------------------
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap H gT
nnoremap L gt

"""Split Windows
nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>wh :action SplitHorizontally<CR>
nnoremap <leader>wd :action CloseContent<CR>
nnoremap <leader>ww :action NextTab<CR>


""" Plugins  --------------------------------
set NERDTree
nnoremap <leader>e :NERDTreeToggle<CR>

set highlightedyank
set commentary
set argtextobj
set ReplaceWithRegister
set argtextobj
set exchange
set quickscope "Needs marketplace plugin
set surround
set multiple-cursors
set matchit

""" SEARCHING -------------------------------
""" EasyMotion & Sneak
set sneak "Needs marketplace plugin
" Requires IdeaVim-EasyMotion & AceJump plugins from plugin store
" (easymotion-f) search forward
" (easymotion-S) search backward
set easymotion
map <leader>s <Plug>(easymotion-f)
map <leader>S <Plug>(easymotion-s)
noremap <leader>/ :action FindInPath<CR>

"""Files
nnoremap <leader>bd :bdelete<CR>
nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <leader>bl :action CloseAllToTheLeft<CR>
nnoremap <leader>br :action CloseAllToTheRight<CR>

""" Code------------------
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>cR :action RemoveUnusedImports<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>ce :action GotoNextError<CR>
nnoremap <leader>cg :action Generate<CR>
nnoremap <leader>cd :action Debug<CR>
nnoremap <leader>cn :action Run<CR>

""" Find------------------
map <leader>ff <action>(GotoFile)
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>ft :action ActivateTerminalToolWindow<CR>
nnoremap <leader>fT :action Terminal.OpenInTerminal<CR>
noremap <leader>fc :action SelectInProjectView<CR>

""" Refactor------------------
noremap <leader>rn :action RenameElement<CR>
noremap <leader>rc :action IntroduceConstant<CR>
noremap <leader>rm :action ExtractMethod<CR>
noremap <leader>rf :action GotoFile<CR>
noremap <leader>rv :action IntroduceVariable<CR>

""" Other------------------
nnoremap gi :action GotoImplementation<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>

"""Which key
set which-key
let g:WhichKeyDesc_leader = "<leader> Leader key"
set notimeout

let g:WhichKeyDesc_commentray_prefix = "gc"
let g:WhichKeyDesc_commentray_action = "gcc"
